.login-form-container-bg {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

.login-form-container {
  background-color: rgb(245, 242, 238);
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 3em;
  box-sizing: border-box;
  position: fixed;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.orange-line {
  background-color: #d4521a;
  width: 100%;
  height: 3px;
  position: absolute;
  margin: -3em;
}

p {
  margin: 0;
  font-weight: 500;
}

.welcome-text {
  color: #d4521a;
  font-size: 0.75em;
}

.Sign-to-account-text {
  font-size: 3em;
  font-weight: bolder;
  line-height: 1;
  margin-bottom: 0.2em;
}

.explanation-text {
  color: rgb(149, 148, 148);
  font-size: 0.85em;
  margin-bottom: 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.68em;
  margin: 1vw 0;
  font-weight: 500;
}

input {
  padding: 0.5em;
  outline: gray;
  border: rgb(191, 191, 191) 1px solid;
  margin-bottom: 1em;
}

.submit-btn {
  background-color: black;
  color: white;
  padding: 0.5em;
  margin: 2em 0 1.5em 0;
  border: black 2px solid;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.sign-in-condition {
  color: rgb(149, 148, 148);
  font-size: 0.7em;
}

.error-message {
  color: #d4521a;
  font-size: 0.75em;

  font-weight: 600;
  background-color: #ffeeee;
  border: #d4521a solid 1px;
  padding: 0.5em;
}

.panah {
  display: flex;
  justify-content: center;
  align-items: center;
}
