.summary-pages-content {
  width: 100vw;
  position: fixed;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  align-items: center;
}

.continue-shopping {
  background-color: black;
  color: white;
  width: max-content;
  border: black 2px solid;
  padding: 1em 2em;
}

.order-confirmed {
  font-size: 4em;
  font-weight: bold;
}

.thankyou-text {
  color: gray;
  margin-bottom: 2em;
}

.summary-block {
  display: flex;
  margin-bottom: 2em;
}

.summary-items {
  background-color: white;
  padding: 1em 2em;
  border: 1px solid rgb(155, 155, 155);
  color: gray;
}

.summary-items h3 {
  margin: 0.6em 0 0 0;
  color: black;
}

.sum-pain-status-con {
  border: 1px solid rgb(155, 155, 155);
  display: flex;
  background-color: white;
}

.summary-paid {
  padding: 1em 2em;
}

.summary-paid h3 {
  margin: 0.6em 0 0 0;
  color: #d4521a;
}

.summary-status {
  padding: 1em 2em;
}

.summary-status h3 {
  margin: 0.6em 0 0 0;
  color: green;
}
