.product-added {
  display: flex;
  background-color: white;
  width: 40vw;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid rgb(73, 65, 57);
}

.product-added-des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.image {
  max-width: 50px;
  margin-right: 0.5em;
}

.quantity {
  color: gray;
  font-size: 0.7em;
  margin-top: 0.5em;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d4521a;
}

.quantity-button-con {
  display: flex;
  width: 80%;
  margin-top: 0.5em;
  gap: 0.5em;
}

.quantity-button-con button {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #d4521a;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
