.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
}

.padding {
  padding: 1em;
}

.img-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.price-product {
  color: #d4521a;
  font-size: 1em;
}

.category {
  background-color: black;
  color: rgb(229, 229, 229);
  width: max-content;
  padding: 0.1em 0.5em;
  font-size: 0.7em;

  position: absolute;
  top: 1.5em;
  right: 1.5em;
  z-index: 4;
}

.add-to-cart-btn {
  background-color: black;
  color: rgb(229, 229, 229);
  border: 2px solid black;
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
}
